# STA

## Data Gathering

In [13]:
import requests
import pandas as pd
import json


result = requests.get("https://registrar-apps.ucdavis.edu/courses/search/course_search_results.cfm", params = {
    'subject': 'STA',
    'termCode': '202401'
})

#IDK if i'm getting every row as well

In [14]:
from bs4 import BeautifulSoup
html_content = result.text
soup = BeautifulSoup(html_content, 'html.parser')
row = soup.find_all('tr', {'bgcolor':'#EBEFF5'})

data = pd.DataFrame()

pd.set_option('display.max_rows', None)

#So the way the registrar does it, they have one row for lec & one for disc. My code takes whichever comes first. Sections are split by crn
#So for my purposes, idrc. It's actually better maybe so it doesn't double count
for section in row:
    row_data = []
    for cell in section.find_all('td'):
        cell_data = cell.get_text(strip=True)
        row_data.append(cell_data)
    data = pd.concat([data, pd.DataFrame(row_data).T])

#Also the bottom gets really screwy but I might just do upper div and not grad
data

,0,1,2,3,4,5
0,"425898:00 - 8:50 AM, T",STA 013OLSON 147,A012/0/3,Elementary StatisticsSE•QLSE,"Whitener, J4.0",view42589
0,"425909:00 - 9:50 AM, MWF",STA 013ROCK 194,A020/0/3,Elementary StatisticsSE•QLSE,"Whitener, J4.0",view42590
0,"425919:00 - 9:50 AM, MWF",STA 013ROCK 194,A031/0/4,Elementary StatisticsSE•QLSE,"Whitener, J4.0",view42591
0,"425929:00 - 9:50 AM, MWF",STA 013ROCK 194,A040/0/3,Elementary StatisticsSE•QLSE,"Whitener, J4.0",view42592
0,"425938:00 - 8:50 AM, R",STA 013OLSON 147,B010/0/4,Elementary StatisticsSE•QLSE,"Whitener, J4.0",view42593
0,"425949:00 - 9:50 AM, R",STA 013OLSON 223,B021/0/4,Elementary StatisticsSE•QLSE,"Whitener, J4.0",view42594
0,"4259511:00 - 11:50 AM, MWF",STA 013ROCK 194,B033/0/5,Elementary StatisticsSE•QLSE,"Whitener, J4.0",view42595
0,"4259611:00 - 11:50 AM, R",STA 013OLSON 250,B041/0/5,Elementary StatisticsSE•QLSE,"Whitener, J4.0",view42596
0,"4259712:10 - 1:00 PM, R",STA 013HART 1130,B050/0/5,Elementary StatisticsSE•QLSE,"Whitener, J4.0",view42597
0,"425981:10 - 2:00 PM, R",STA 013HART 1130,B060/0/5,Elementary StatisticsSE•QLSE,"Whitener, J4.0",view42598
0,"425992:10 - 3:00 PM, R",STA 013HART 1130,B073/0/5,Elementary StatisticsSE•QLSE,"Whitener, J4.0",view42599
0,"426003:10 - 4:00 PM, R",STA 013HART 1130,B082/0/6,Elementary StatisticsSE•QLSE,"Whitener, J4.0",view42600
0,"447419:00 - 9:50 AM, MWF",STA 013ROCK 194,A051/0/1,Elementary StatisticsSE•QLSE,"Whitener, J4.0",view44741
0,"447429:00 - 9:50 AM, MWF",STA 013ROCK 194,A060/0/3,Elementary StatisticsSE•QLSE,"Whitener, J4.0",view44742
0,"447439:00 - 9:50 AM, MWF",STA 013ROCK 194,A071/0/2,Elementary StatisticsSE•QLSE,"Whitener, J4.0",view44743
0,"447449:00 - 9:50 AM, MWF",STA 013ROCK 194,A081/0/2,Elementary StatisticsSE•QLSE,"Whitener, J4.0",view44744
0,"4260510:00 - 10:50 AM, MWF",STA 032WELLMN 26,A0113/0/0,Gateway to Data ScienceSE•QLSE,"Kim, A4.0",view42605
0,"4260610:00 - 10:50 AM, MWF",STA 032WELLMN 26,A0226/0/0,Gateway to Data ScienceSE•QLSE,"Kim, A4.0",view42606
0,"4477211:00 - 11:50 AM, R",STA 035ATLC 2212,00129/0/0,Stat Data Science INo GE Credit•QLSE,"Kim, A4.0",view44772
0,"4260710:00 - 10:50 AM, T",STA 035BTLC 2212,A0116/0/0,Stat Data Science IINo GE Credit•QLSEVL,"Frei, S4.0",view42607
0,"4260811:00 - 11:50 AM, T",STA 035BTLC 2212,A022/0/0,Stat Data Science IINo GE Credit•QLSEVL,"Frei, S4.0",view42608
0,@TBA,STA 090XTBA,-0/0/0,SeminarNo GE Credit• \n ...,The StaffV,viewcourse
0,@ Denotes consent of instructor required. Cont...,NaN,NaN,NaN,NaN,NaN
0,@ Denotes consent of instructor required. Cont...,NaN,NaN,NaN,NaN,NaN
0,"426209:00 - 9:50 AM, T",STA 100OLSON 223,A011/0/2,Applied Stat for Bio SciSE•QLSE,"Lang, D4.0",view42620
0,"4262110:00 - 10:50 AM, T",STA 100SHREM 1301,A023/0/3,Applied Stat for Bio SciSE•QLSE,"Lang, D4.0",view42621
0,"4262211:00 - 11:50 AM, T",STA 100OLSON 146,A030/0/3,Applied Stat for Bio SciSE•QLSE,"Lang, D4.0",view42622
0,"4262312:10 - 1:00 PM, T",STA 100WELLMN 119,A040/0/3,Applied Stat for Bio SciSE•QLSE,"Lang, D4.0",view42623
0,"426241:10 - 2:00 PM, T",STA 100OLSON 158,A051/0/2,Applied Stat for Bio SciSE•QLSE,"Lang, D4.0",view42624
0,"426252:10 - 3:00 PM, T",STA 100OLSON 158,A061/0/2,Applied Stat for Bio SciSE•QLSE,"Lang, D4.0",view42625
0,"426263:10 - 4:00 PM, T",STA 100OLSON 106,A070/0/3,Applied Stat for Bio SciSE•QLSE,"Lang, D4.0",view42626
0,"426274:10 - 5:00 PM, MWF",STA 100ROCK 194,B010/0/0,Applied Stat for Bio SciSE•QLSE,"Farris, A4.0",view42627
0,"426284:10 - 5:00 PM, MWF",STA 100ROCK 194,B021/0/0,Applied Stat for Bio SciSE•QLSE,"Farris, A4.0",view42628
0,"426294:10 - 5:00 PM, MWF",STA 100ROCK 194,B031/0/4,Applied Stat for Bio SciSE•QLSE,"Farris, A4.0",view42629
0,"426304:10 - 5:00 PM, MWF",STA 100ROCK 194,B041/0/3,Applied Stat for Bio SciSE•QLSE,"Farris, A4.0",view42630
0,"426314:10 - 5:00 PM, MWF",STA 100ROCK 194,B050/0/2,Applied Stat for Bio SciSE•QLSE,"Farris, A4.0",view42631
0,"426324:10 - 5:00 PM, MWF",STA 100ROCK 194,B062/0/2,Applied Stat for Bio SciSE•QLSE,"Farris, A4.0",view42632
0,"426334:10 - 5:00 PM, MWF",STA 100ROCK 194,B070/0/1,Applied Stat for Bio SciSE•QLSE,"Farris, A4.0",view42633
0,"426341:10 - 2:00 PM, T",STA 103OLSON 106,A013/0/3,Applied StatisticsNo GE Credit•QLSE,"Bissell, M4.0",view42634
0,"426358:00 - 8:50 AM, MWF",STA 103GIEDT 1003,A023/0/0,Applied StatisticsNo GE Credit•QLSE,"Bissell, M4.0",view42635
0,"426363:10 - 4:00 PM, T",STA 103OLSON 205,A032/0/0,Applied StatisticsNo GE Credit•QLSE,"Bissell, M4.0",view42636
0,"426371:10 - 2:00 PM, MWF",STA 103GIEDT 1003,B0110/0/0,Applied StatisticsNo GE Credit•QLSE,"Anderes, E4.0",view42637
0,"426381:10 - 2:00 PM, MWF",STA 103GIEDT 1003,B0224/0/0,Applied StatisticsNo GE Credit•QLSE,"Anderes, E4.0",view42638
0,"426391:10 - 2:00 PM, MWF",STA 103GIEDT 1003,B030/0/1,Applied StatisticsNo GE Credit•QLSE,"Anderes, E4.0",view42639
0,"426402:10 - 3:00 PM, R",STA 104OLSON 106,A0113/0/0,Nonparametric StatisticsNo GE Credit•QLSE,"Farris, A4.0",view42640
0,"426412:10 - 3:00 PM, MWF",STA 104WELLMN 234,A0234/0/0,Nonparametric StatisticsNo GE Credit•QLSE,"Farris, A4.0",view42641
0,"426423:10 - 4:00 PM, T",STA 106OLSON 147,A011/0/3,Analysis of VarianceNo GE Credit•SE,"Pouokam, M4.0",view42642
0,"4264310:00 - 10:50 AM, MWF",STA 106WELLMN 234,A020/0/4,Analysis of VarianceNo GE Credit•SE,"Pouokam, M4.0",view42643
0,"426441:10 - 2:00 PM, MWF",STA 106WELLMN 216,B012/0/1,Analysis of VarianceNo GE Credit•SE,"Cui, L4.0",view42644
0,"4264511:00 - 11:50 AM, R",STA 106OLSON 146,B022/0/9,Analysis of VarianceNo GE Credit•SE,"Cui, L4.0",view42645
0,"426468:00 - 8:50 AM, MWF",STA 108WELLMN 216,A010/0/5,Regression AnalysisNo GE Credit•QLSESL,"Pouokam, M4.0",view42646
0,"426471:10 - 2:00 PM, T",STA 108WALKER 1320,A020/0/3,Regression AnalysisNo GE Credit•QLSESL,"Pouokam, M4.0",view42647
0,"426489:00 - 9:50 AM, T",STA 108HOAGLD 168,B011/0/5,Regression AnalysisNo GE Credit•QLSESL,"Fuquene Patino, J4.0",view42648
0,"426499:00 - 9:50 AM, MWF",STA 108WELLMN 6,B020/0/10,Regression AnalysisNo GE Credit•QLSESL,"Fuquene Patino, J4.0",view42649
0,"426502:10 - 3:00 PM, MWF",STA 130AOLSON 206,A011/0/18,Brief Math StatisticsSE•QLSE,"Le, C4.0",view42650
0,"426512:10 - 3:00 PM, MWF",STA 130AOLSON 206,A021/0/19,Brief Math StatisticsSE•QLSE,"Le, C4.0",view42651
0,"4265212:10 - 1:00 PM, MWF",STA 130BWELLMN 6,A011/0/25,Math Stat: Brief CourseSE•QLSE,"Rajaratnam, B4.0",view42652
0,"4265312:10 - 1:00 PM, MWF",STA 130BWELLMN 6,A022/0/24,Math Stat: Brief CourseSE•QLSE,"Rajaratnam, B4.0",view42653
0,"454442:10 - 3:00 PM, T",STA 130BOLSON 147,00150/0/0,Math Stat: Brief CourseSE•QLSE,"Rajaratnam, B4.0",view45444
0,"426541:10 - 2:00 PM, R",STA 131AWALKER 1320,A010/0/11,Probability TheorySE•QLSE,"Balasubramanian, K4.0",view42654
0,"4265512:10 - 1:00 PM, MWF",STA 131AWELLMN 234,A020/0/6,Probability TheorySE•QLSE,"Balasubramanian, K4.0",view42655
0,"426564:10 - 5:00 PM, MWF",STA 131BWELLMN 226,A011/0/5,Math StatisticsSE•SE,"Dörnemann, N4.0",view42656
0,"426574:10 - 5:00 PM, MWF",STA 131BWELLMN 226,A0214/0/0,Math StatisticsSE•SE,"Dörnemann, N4.0",view42657
0,"426589:00 - 9:50 AM, MWF",STA 135WELLMN 226,A0115/0/0,Multivar Data AnalysisNo GE Credit•QLSE,"Li, X4.0",view42658
0,"426599:00 - 9:50 AM, MWF",STA 135WELLMN 226,A0245/0/0,Multivar Data AnalysisNo GE Credit•QLSE,"Li, X4.0",view42659
0,"426609:00 - 9:50 AM, T",STA 137TLC 1214,A011/0/12,Applied Time Ser AnlysisNo GE Credit•QLSE,"Ding, X4.0",view42660
0,"4266111:00 - 11:50 AM, T",STA 137OLSON 250,A020/0/11,Applied Time Ser AnlysisNo GE Credit•QLSE,"Ding, X4.0",view42661
0,"4266210:00 - 10:50 AM, MWF",STA 138WELLMN 226,A011/0/0,Anly Categor DataSE•QLSE,"Cui, L4.0",view42662
0,"4266310:00 - 10:50 AM, MWF",STA 138WELLMN 226,A0221/0/0,Anly Categor DataSE•QLSE,"Cui, L4.0",view42663
0,"426649:00 - 9:50 AM, T",STA 141AHART 1130,A011/0/5,Statistical Data ScienceNo GE Credit• \n ...,"Chen, S4.0",view42664
0,"4266510:00 - 10:50 AM, T",STA 141AHART 1130,A021/0/4,Statistical Data ScienceNo GE Credit• \n ...,"Chen, S4.0",view42665
0,"4266612:10 - 1:30 PM, TR",STA 141BWELLMN 234,A010/0/9,Stat Data TechnologiesNo GE Credit• \n ...,"Kramlinger, P4.0",view42666
0,"4266712:10 - 1:30 PM, TR",STA 141BWELLMN 234,A020/0/6,Stat Data TechnologiesNo GE Credit• \n ...,"Kramlinger, P4.0",view42667
0,"4266810:00 - 10:50 AM, W",STA 141CHOAGLD 113,A014/0/0,Adv Stat ComputingNo GE Credit• \n ...,"Dörnemann, N4.0",view42668
0,"426691:10 - 2:00 PM, MWF",STA 141CWELLMN 234,A020/0/3,Adv Stat ComputingNo GE Credit• \n ...,"Dörnemann, N4.0",view42669
0,"426702:10 - 3:00 PM, T",STA 142AHOAGLD 113,A011/0/15,Statistical Learning INo GE Credit• \n ...,"Balasubramanian, K4.0",view42670
0,"426713:10 - 4:00 PM, T",STA 142AHOAGLD 113,A022/0/17,Statistical Learning INo GE Credit• \n ...,"Balasubramanian, K4.0",view42671
0,@TBA,STA 192TBA,-0/0/0,Statistics InternNo GE Credit• \n ...,The StaffV,viewcourse
0,@ Denotes consent of instructor required. Cont...,NaN,NaN,NaN,NaN,NaN
0,@ Denotes consent of instructor required. Cont...,NaN,NaN,NaN,NaN,NaN
0,@TBA,STA 194HBTBA,-0/0/0,Honors StudiesSE•SE,The Staff4.0,viewcourse
0,@ Denotes consent of instructor required. Cont...,NaN,NaN,NaN,NaN,NaN
0,@ Denotes consent of instructor required. Cont...,NaN,NaN,NaN,NaN,NaN
0,@TBA,STA 199TBA,-0/0/0,Undergrad Adv StudyNo GE Credit• \n ...,The StaffV,viewcourse
0,@ Denotes consent of instructor required. Cont...,NaN,NaN,NaN,NaN,NaN
0,"4270910:00 - 11:20 AM, MW",STA 200BOLSON 158,00128/0/0,Math StatisticsNo GE Credit• \n ...,"Le, C4.0",view42709
0,"427103:40 - 4:00 PM, MW",STA 207WELLMN 212,00132/0/0,Stat Methods for Resch 2No GE Credit• \n ...,"Chen, S4.0",view42710
0,"4271110:30 - 10:50 AM, TR",STA 220HOAGLD 113,0011/0/15,Stat Data TechnologiesNo GE Credit• \n ...,"Kramlinger, P4.0",view42711
0,"427124:10 - 5:30 PM, MW",STA 223SOCSCI 70,0010/0/8,Generalized Lin ModelsNo GE Credit• \n ...,"Mueller, H4.0",view42712
0,@ Denotes consent of instructor required. Cont...,NaN,NaN,NaN,NaN,NaN
0,"@11:30 - 11:50 AM, MW",STA 231BOLSON 244,0018/0/0,Math Stats IINo GE Credit• \n ...,"Polonik, W4.0",viewcourse
0,@ Denotes consent of instructor required. Cont...,NaN,NaN,NaN,NaN,NaN
0,@ Denotes consent of instructor required. Cont...,NaN,NaN,NaN,NaN,NaN
0,"@3:40 - 4:00 PM, MW",STA 232BOLSON 244,0018/0/0,Applied Statistics IINo GE Credit• \n ...,"Jiang, J4.0",viewcourse
0,@ Denotes consent of instructor required. Cont...,NaN,NaN,NaN,NaN,NaN
0,42715TBA,STA 235BTBA,00112/0/0,Probability TheoryNo GE Credit• \n ...,"Gravner, J4.0",view42715
0,"427161:40 - 2:00 PM, MW",STA 250STORER 1342,0010/0/3,Appl & Comp StatisticsNo GE Credit• \n ...,"Frei, S4.0",view42716
0,"@4:10 - 5:30 PM, R",STA 290MATSCI 1147,00143/0/0,Stat SeminarNo GE Credit• \n ...,The StaffV,viewcourse
0,@ Denotes consent of instructor required. Cont...,NaN,NaN,NaN,NaN,NaN
0,@ Denotes consent of instructor required. Cont...,NaN,NaN,NaN,NaN,NaN
0,@TBA,STA 299TBA,-0/0/0,Indiv StudyNo GE Credit• \n ...,The StaffV,viewcourse
0,@ Denotes consent of instructor required. Cont...,NaN,NaN,NaN,NaN,NaN
0,@ Denotes consent of instructor required. Cont...,NaN,NaN,NaN,NaN,NaN
0,@TBA,STA 396TBA,-0/0/0,Teach Assist Train PracNo GE Credit• \n ...,The StaffV,viewcourse
0,@ Denotes consent of instructor required. Cont...,NaN,NaN,NaN,NaN,NaN

## Data Cleaning

### Initial

In [15]:
#Take out na rows
data_clean = data.dropna()

#Reset index
data_clean = data_clean.reset_index(drop=True)

#data_clean

### Inner Cleaning

#### Row 0

*Note: you can only run the code once*

In [16]:
#Take out course numbers from time
data_clean.iloc[:,0] = data_clean.iloc[:,0].str[5:]
#Take out days
data_clean.iloc[:,0] = data_clean.iloc[:,0].str.split(",").str.get(0)

#data_clean

#### Row 1

*WARNING THIS MESSES THINGS UP FOR COURSES LIKE STA 194HB*

In [17]:
#Take only course name bc we have course code
data_clean.iloc[:,1] = data_clean.iloc[:,1].str[:8] #Get course number but also first letter after for courses like sta 141b
#Now get rid of any course who's letter isn't a,b, or c. Bc if not, it's remnants from hall

#So this still keeps some hall names. What I can try to do is either make hall names lowercase. Or I can try to have a list of hall names to remove
data_clean.iloc[:,1] = data_clean.iloc[:,1].str.replace('[^STABC\d]','',regex=True)

#Add a space after STA, you can also probably take out any S here... or maybe you could've done this first then take out the hall name
data_clean.iloc[:,1] = data_clean.iloc[:,1].str[:3] + " " + data_clean.iloc[:,1].str[3:].replace('[^ABC\d]', '', regex=True)

#data_clean

#### Row 3

In [18]:
#Get rid of everything after •
data_clean.iloc[:,3] = data_clean.iloc[:,3].str.split("•").str.get(0)
#Get rid of any other GE's or "No GE Credit"
data_clean.iloc[:,3] = data_clean.iloc[:,3].str[:-2] #Gets rid of last 2 elements. Fine bc all titles have SOMETHING there
data_clean.iloc[:,3] = data_clean.iloc[:,3].str.split('No ').str.get(0)

#data_clean

#### Row 5

In [19]:
#Clean with only course numbers
data_clean.iloc[:,5] = data_clean.iloc[:,5].str.replace(r'[view]', '', regex=True)

#data_clean

### Column Manipulation

#### Row 2

In [20]:
#Split section & availability into new column
#Theoretically, the course numbers should all be 3 digits long aside from some exceptions.
#Maybe I can restring so if there's one without the required total # of digits, just add some 0's. I can't do that because there are some
# Courses that have single digits

data_clean["Availability"] = data_clean.iloc[:,2].str[3:]
data_clean.iloc[:,2] = data_clean.iloc[:,2].str[:3]

#data_clean

#### Row 4

In [21]:
#Split  prof & units
data_clean["Units"] = data_clean.iloc[:,4].str[-3:]
data_clean.iloc[:,4] = data_clean.iloc[:,4].str[:-3]

#data_clean

#### Row 6

In [10]:
#Remove

In [22]:
#data_clean = data_clean.drop(columns=[6])

#data_clean

KeyError: '[6] not found in axis'

### Finishing Touches

In [ ]:
#Remaining
#Col 1, some class codes have an S... also this is very specified to stats. In spanish for example, you have 100S or 100N
#Actually in the future, i think for each <td> element, you can split it based on the text and the <ed> bc it looks like the html separates
#Course from building. which would've been good to know iat the beginning

#Automate at certain times in day... Then I'd need a server?

#Ah fudge I just realized, if the time can be either from discussion or lecture, it's gonna be scuffed. Luckily I don't plan on doing
#   too much with time rn but I should try to change that eventually but I don't think the registrar differentiates

#### Renaming

In [24]:
column_names = ['Time?', 'Course', 'Section', 'Course Name', 'Prof', 'CRN', 'Availability', 'Units']
data_clean.columns = column_names

#data_clean

#### Drop Non-Standard Undergrad Classes

In [25]:
data_clean = data_clean.drop(data_clean.index[74:])
data_clean = data_clean.drop(21)

#data_clean

#### Reset Index

In [26]:
data_clean = data_clean.set_index('CRN')
#data_clean

## Reformatting Data Frame to Specific Use of calculating number of seats per course

In [27]:
data_clean

,Time?,Course,Section,Course Name,Prof,Availability,Units
CRN,,,,,,,
42589,8:00 - 8:50 AM,STA 013,A01,Elementary Statistics,"Whitener, J",2/0/3,4.0
42590,9:00 - 9:50 AM,STA 013,A02,Elementary Statistics,"Whitener, J",0/0/3,4.0
42591,9:00 - 9:50 AM,STA 013,A03,Elementary Statistics,"Whitener, J",1/0/4,4.0
42592,9:00 - 9:50 AM,STA 013,A04,Elementary Statistics,"Whitener, J",0/0/3,4.0
42593,8:00 - 8:50 AM,STA 013,B01,Elementary Statistics,"Whitener, J",0/0/4,4.0
42594,9:00 - 9:50 AM,STA 013,B02,Elementary Statistics,"Whitener, J",1/0/4,4.0
42595,11:00 - 11:50 AM,STA 013,B03,Elementary Statistics,"Whitener, J",3/0/5,4.0
42596,11:00 - 11:50 AM,STA 013,B04,Elementary Statistics,"Whitener, J",1/0/5,4.0
42597,12:10 - 1:00 PM,STA 013,B05,Elementary Statistics,"Whitener, J",0/0/5,4.0
42598,1:10 - 2:00 PM,STA 013,B06,Elementary Statistics,"Whitener, J",0/0/5,4.0
42599,2:10 - 3:00 PM,STA 013,B07,Elementary Statistics,"Whitener, J",3/0/5,4.0
42600,3:10 - 4:00 PM,STA 013,B08,Elementary Statistics,"Whitener, J",2/0/6,4.0
44741,9:00 - 9:50 AM,STA 013,A05,Elementary Statistics,"Whitener, J",1/0/1,4.0
44742,9:00 - 9:50 AM,STA 013,A06,Elementary Statistics,"Whitener, J",0/0/3,4.0
44743,9:00 - 9:50 AM,STA 013,A07,Elementary Statistics,"Whitener, J",1/0/2,4.0
44744,9:00 - 9:50 AM,STA 013,A08,Elementary Statistics,"Whitener, J",1/0/2,4.0
42605,10:00 - 10:50 AM,STA 032,A01,Gateway to Data Science,"Kim, A",13/0/0,4.0
42606,10:00 - 10:50 AM,STA 032,A02,Gateway to Data Science,"Kim, A",26/0/0,4.0
44772,11:00 - 11:50 AM,STA 035A,001,Stat Data Science I,"Kim, A",29/0/0,4.0
42607,10:00 - 10:50 AM,STA 035B,A01,Stat Data Science II,"Frei, S",16/0/0,4.0
42608,11:00 - 11:50 AM,STA 035B,A02,Stat Data Science II,"Frei, S",2/0/0,4.0
42620,9:00 - 9:50 AM,STA 100,A01,Applied Stat for Bio Sci,"Lang, D",1/0/2,4.0
42621,10:00 - 10:50 AM,STA 100,A02,Applied Stat for Bio Sci,"Lang, D",3/0/3,4.0
42622,11:00 - 11:50 AM,STA 100,A03,Applied Stat for Bio Sci,"Lang, D",0/0/3,4.0
42623,12:10 - 1:00 PM,STA 100,A04,Applied Stat for Bio Sci,"Lang, D",0/0/3,4.0
42624,1:10 - 2:00 PM,STA 100,A05,Applied Stat for Bio Sci,"Lang, D",1/0/2,4.0
42625,2:10 - 3:00 PM,STA 100,A06,Applied Stat for Bio Sci,"Lang, D",1/0/2,4.0
42626,3:10 - 4:00 PM,STA 100,A07,Applied Stat for Bio Sci,"Lang, D",0/0/3,4.0
42627,4:10 - 5:00 PM,STA 100,B01,Applied Stat for Bio Sci,"Farris, A",0/0/0,4.0
42628,4:10 - 5:00 PM,STA 100,B02,Applied Stat for Bio Sci,"Farris, A",1/0/0,4.0
42629,4:10 - 5:00 PM,STA 100,B03,Applied Stat for Bio Sci,"Farris, A",1/0/4,4.0
42630,4:10 - 5:00 PM,STA 100,B04,Applied Stat for Bio Sci,"Farris, A",1/0/3,4.0
42631,4:10 - 5:00 PM,STA 100,B05,Applied Stat for Bio Sci,"Farris, A",0/0/2,4.0
42632,4:10 - 5:00 PM,STA 100,B06,Applied Stat for Bio Sci,"Farris, A",2/0/2,4.0
42633,4:10 - 5:00 PM,STA 100,B07,Applied Stat for Bio Sci,"Farris, A",0/0/1,4.0
42634,1:10 - 2:00 PM,STA 103,A01,Applied Statistics,"Bissell, M",3/0/3,4.0
42635,8:00 - 8:50 AM,STA 103,A02,Applied Statistics,"Bissell, M",3/0/0,4.0
42636,3:10 - 4:00 PM,STA 103,A03,Applied Statistics,"Bissell, M",2/0/0,4.0
42637,1:10 - 2:00 PM,STA 103,B01,Applied Statistics,"Anderes, E",10/0/0,4.0
42638,1:10 - 2:00 PM,STA 103,B02,Applied Statistics,"Anderes, E",24/0/0,4.0
42639,1:10 - 2:00 PM,STA 103,B03,Applied Statistics,"Anderes, E",0/0/1,4.0
42640,2:10 - 3:00 PM,STA 104,A01,Nonparametric Statistics,"Farris, A",13/0/0,4.0
42641,2:10 - 3:00 PM,STA 104,A02,Nonparametric Statistics,"Farris, A",34/0/0,4.0
42642,3:10 - 4:00 PM,STA 106,A01,Analysis of Variance,"Pouokam, M",1/0/3,4.0
42643,10:00 - 10:50 AM,STA 106,A02,Analysis of Variance,"Pouokam, M",0/0/4,4.0
42644,1:10 - 2:00 PM,STA 106,B01,Analysis of Variance,"Cui, L",2/0/1,4.0
42645,11:00 - 11:50 AM,STA 106,B02,Analysis of Variance,"Cui, L",2/0/9,4.0
42646,8:00 - 8:50 AM,STA 108,A01,Regression Analysis,"Pouokam, M",0/0/5,4.0
42647,1:10 - 2:00 PM,STA 108,A02,Regression Analysis,"Pouokam, M",0/0/3,4.0
42648,9:00 - 9:50 AM,STA 108,B01,Regression Analysis,"Fuquene Patino, J",1/0/5,4.0
42649,9:00 - 9:50 AM,STA 108,B02,Regression Analysis,"Fuquene Patino, J",0/0/10,4.0
42650,2:10 - 3:00 PM,STA 130A,A01,Brief Math Statistics,"Le, C",1/0/18,4.0
42651,2:10 - 3:00 PM,STA 130A,A02,Brief Math Statistics,"Le, C",1/0/19,4.0
42652,12:10 - 1:00 PM,STA 130B,A01,Math Stat: Brief Course,"Rajaratnam, B",1/0/25,4.0
42653,12:10 - 1:00 PM,STA 130B,A02,Math Stat: Brief Course,"Rajaratnam, B",2/0/24,4.0
45444,2:10 - 3:00 PM,STA 130B,001,Math Stat: Brief Course,"Rajaratnam, B",50/0/0,4.0
42654,1:10 - 2:00 PM,STA 131A,A01,Probability Theory,"Balasubramanian, K",0/0/11,4.0
42655,12:10 - 1:00 PM,STA 131A,A02,Probability Theory,"Balasubramanian, K",0/0/6,4.0
42656,4:10 - 5:00 PM,STA 131B,A01,Math Statistics,"Dörnemann, N",1/0/5,4.0
42657,4:10 - 5:00 PM,STA 131B,A02,Math Statistics,"Dörnemann, N",14/0/0,4.0
42658,9:00 - 9:50 AM,STA 135,A01,Multivar Data Analysis,"Li, X",15/0/0,4.0
42659,9:00 - 9:50 AM,STA 135,A02,Multivar Data Analysis,"Li, X",45/0/0,4.0
42660,9:00 - 9:50 AM,STA 137,A01,Applied Time Ser Anlysis,"Ding, X",1/0/12,4.0
42661,11:00 - 11:50 AM,STA 137,A02,Applied Time Ser Anlysis,"Ding, X",0/0/11,4.0
42662,10:00 - 10:50 AM,STA 138,A01,Anly Categor Data,"Cui, L",1/0/0,4.0
42663,10:00 - 10:50 AM,STA 138,A02,Anly Categor Data,"Cui, L",21/0/0,4.0
42664,9:00 - 9:50 AM,STA 141A,A01,Statistical Data Science,"Chen, S",1/0/5,4.0
42665,10:00 - 10:50 AM,STA 141A,A02,Statistical Data Science,"Chen, S",1/0/4,4.0
42666,12:10 - 1:30 PM,STA 141B,A01,Stat Data Technologies,"Kramlinger, P",0/0/9,4.0
42667,12:10 - 1:30 PM,STA 141B,A02,Stat Data Technologies,"Kramlinger, P",0/0/6,4.0
42668,10:00 - 10:50 AM,STA 141C,A01,Adv Stat Computing,"Dörnemann, N",4/0/0,4.0
42669,1:10 - 2:00 PM,STA 141C,A02,Adv Stat Computing,"Dörnemann, N",0/0/3,4.0
42670,2:10 - 3:00 PM,STA 142A,A01,Statistical Learning I,"Balasubramanian, K",1/0/15,4.0

In [28]:
import datetime
import time
date = datetime.date.today()
current_time = time.strftime('%H:%M')
#create a new data set with just the course as the index, the course name, units, and the sum of availability

#first add a new column for just the open seats (def by open - waitlist)
data_clean[f"{date}, {current_time}"] = data_clean["Availability"].str.split("/").str[0].astype(int) - data_clean["Availability"].str.split("/").str[-1].astype(int)

#Create new dataset of aggregates
data_spec = pd.DataFrame(columns = ['Course', f"{date}, {current_time}"])
data_spec['Course'] = data_clean['Course'].unique()
#data_spec['Course Name'] = data_clean['Course Name'].unique()
data_spec[f"{date}, {current_time}"] = list(data_clean.groupby(['Course'])[f"{date}, {current_time}"].sum())
data_spec = data_spec.set_index('Course')
data_spec

#Can add profs too

          2023-12-20, 04:33
Course
STA 013                 -44
STA 032                  39
STA 035A                 29
STA 035B                 18
STA 100                 -19
STA 103                  38
STA 104                  47
STA 106                 -12
STA 108                 -22
STA 130A                -35
STA 130B                  4
STA 131A                -17
STA 131B                 10
STA 135                  60
STA 137                 -22
STA 138                  22
STA 141A                 -7
STA 141B                -15
STA 141C                  1
STA 142A                -14

## Adding Data to CSV

**In function**

In [ ]:

#Take csv to data frame
#Add og data frame to the csv data frame, based on index, & create new column based on current date (maybe get rid of course name for index)
#     or combine names
#put new data frame to csv



#Create csv: 
#fhand = open("schedBuild.csv", 'w')
#fhand.close()
#data_spec.to_csv('schedBuild.csv', index=True)

#Can't create a csv out of nowhere, so this is adding columns
og_csv = pd.read_csv('schedBuild.csv')
new_csv = pd.merge(og_csv, data_spec, on='Course')
new_csv.to_csv('schedBuild.csv', index=False)

## Function Conversion

In [1]:
import os
import datetime
import time
import requests
import pandas as pd
import json
from bs4 import BeautifulSoup

def get_data(subject):
    result = requests.get("https://registrar-apps.ucdavis.edu/courses/search/course_search_results.cfm", params = {
        'subject': subject,
        'termCode': '202401' #Assumed winter
    })
    html_content = result.text
    soup = BeautifulSoup(html_content, 'html.parser')
    row = soup.find_all('tr', {'bgcolor':'#EBEFF5'})
    data = pd.DataFrame()
    for section in row:
        row_data = []
        for cell in section.find_all('td'):
            cell_data = cell.get_text(strip=True)
            row_data.append(cell_data)
        data = pd.concat([data, pd.DataFrame(row_data).T])
    return data

def clean_data(data, subject):
    #I'm gonna need a better way to organize the courses separate from building. Let's see  if I can parse it during data gathering
    data_clean = data.dropna()
    data_clean = data_clean.reset_index(drop=True)

    #HERE I DROP NON STANDARD CLASSES But it's difficult
    #To drop grad classes, i'll take out anything who's str index at 5 is 2, ig for honors like stats we could do by 090? Let's go one at a time
    data_clean = data_clean[data_clean.iloc[:,1].str[4] != '2']
    #data_clean = data_clean.drop(data_clean.index[74:])
    #data_clean = data_clean.drop(21)

    #Col 0
    data_clean.iloc[:,0] = data_clean.iloc[:,0].str[5:]
    data_clean.iloc[:,0] = data_clean.iloc[:,0].str.split(",").str.get(0)

    #Col 1
    data_clean.iloc[:,1] = data_clean.iloc[:,1].str[:8]
    included_letters = None
    if subject=='STA':
        included_letters = 'ABC'
    elif subject == 'MAT':
        included_letters = 'ABCD'
    elif subject == 'ECN':
        included_letters = 'AB'
    elif subject == 'SPA':
        included_letters = 'N'
    data_clean.iloc[:,1] = data_clean.iloc[:,1].str.replace(f'[^{subject}{included_letters}\d]','',regex=True)
    #This one assumes the only courses you have, have abc. Also it assumes only one letter like ecn 115b not ecn 115by
    data_clean.iloc[:,1] = data_clean.iloc[:,1].str[:3] + " " + data_clean.iloc[:,1].str[3:].replace(f'[^{included_letters}\d]', '', regex=True)

    #Col 3
    data_clean.iloc[:,3] = data_clean.iloc[:,3].str.split("•").str.get(0)
    data_clean.iloc[:,3] = data_clean.iloc[:,3].str[:-2] #Gets rid of last 2 elements. Fine bc all titles have SOMETHING there
    data_clean.iloc[:,3] = data_clean.iloc[:,3].str.split('No ').str.get(0)

    #Col 5
    data_clean.iloc[:,5] = data_clean.iloc[:,5].str.replace(r'[view]', '', regex=True)

    #Col 2
    data_clean["Availability"] = data_clean.iloc[:,2].str[3:]
    data_clean.iloc[:,2] = data_clean.iloc[:,2].str[:3]

    #Col 4
    data_clean["Units"] = data_clean.iloc[:,4].str[-3:]
    data_clean.iloc[:,4] = data_clean.iloc[:,4].str[:-3]

    #Col 6
    #data_clean = data_clean.drop(columns=[6])

    return data_clean

def format_data(data_clean):
    column_names = ['Time?', 'Course', 'Section', 'Course Name', 'Prof', 'CRN', 'Availability', 'Units']
    data_clean.columns = column_names

    data_clean = data_clean.set_index('CRN')
    date = datetime.date.today()
    current_time = time.strftime('%H:%M')
    data_clean[f"{date}, {current_time}"] = data_clean["Availability"].str.split("/").str[0].astype(int) - data_clean["Availability"].str.split("/").str[-1].astype(int)
    data_spec = pd.DataFrame(columns = ['Course', f"{date}, {current_time}"])
    data_spec['Course'] = data_clean['Course'].unique()
    data_spec[f"{date}, {current_time}"] = list(data_clean.groupby(['Course'])[f"{date}, {current_time}"].sum())
    data_spec = data_spec.set_index('Course')
    return data_spec

def update_csv(data_spec, subject):
    try:
        og_csv = pd.read_csv(f'schedBuild_{subject}.csv')
        new_csv = pd.merge(og_csv, data_spec, on='Course')
        new_csv.to_csv(f'schedBuild_{subject}.csv', index=False)
    except:
        fhand = open(f'schedBuild_{subject}.csv', 'w')
        fhand.close()
        data_spec.to_csv(f'schedBuild_{subject}.csv', index=True)
        og_csv = pd.read_csv(f'schedBuild_{subject}.csv')
        new_csv = pd.merge(og_csv, data_spec, on='Course')
        new_csv.to_csv(f'schedBuild_{subject}.csv', index=False)
        
#Issue is it might get scuffed with non standard classes but we ball. Maybe the non standard classes we can do it by course name

def schedBuild(subject):
    data = get_data(subject)
    cleaned = clean_data(data, subject)
    formatted = format_data(cleaned)
    update_csv(formatted, subject)
    os.system(f'open schedBuild_{subject}.csv') #opens file on computer

In [2]:
schedBuild('STA')

KeyError: '[6] not found in axis'

## Schedule Program

## FINAL

In [ ]:
#Possibly segregate it by prof too
#put it into function
#make it so that it works for different majors. The hard part is that some majors like spanish will have 100s and a hall beginning with s
#You could put parameters for functions defining majors and then exclude dif letters based on those parameters

#This is also only for winter quarter, doesn't take into account the past

# ECN

## Data Gathering

In [ ]:
#Turn it into a function